<h2>New Book<h2>

<%= 
	 [:alert, :notice, :info].collect do |message_type|
      message = flash.discard(message_type)
      next unless message

      content_tag :p, message
    end.join.html_safe
%>

<%=form_for @book, url: books_path, method: :post do |f| %>
	<div>
		<%= f.label :title, 'Title:'%>
		<%= f.text_field :title%>
	</div>
	<div>
		<%= f.label :author, 'Author:'%>
		<%= f.text_field :author%>
	</div>
	<div>
		<%= f.label :isbn, 'Isbn:'%>
		<%= f.text_field :isbn%>
	</div>
	<div>
		<%= submit_tag "Submit"%>
	</div>	

<%-end%>